<?xml version="1.0"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="ClientManage.Interfaces.Properties.Settings.ContentConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Documents and Settings\Atias007\My Documents\Visual Studio 2005\Projects\ClientManage\ClientManage\bin\Debug\Content.dat&quot;;Persist Security Info=True;Jet OLEDB:Database Password=37614463" providerName="System.Data.OleDb"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
